/* -----------------COLORS------------------- */
:root {
  --navy-blue-color: #2e2f42;
  --slate-color: #434455;
  --iris-color: #4d5ae5;
  --hover-color: #404bbf;
}

.list-none {
  list-style: none;
}

.link-none {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------HEADER------------------- */
.header {
  background-color: #ffffff;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--navy-blue-color);
}

.header-logo span {
  color: var(--iris-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}

/* -----------------HERO------------------- */
.hero {
  background-color: var(--navy-blue-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
}

/* -----------------OUR-FEATURES------------------- */
.our-features-suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.our-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/* -----------------What-Are-We-Doing------------------- */
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: --navy-blue-color;
}

/* -----------------OUR-TEAM------------------- */

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.our-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
/* -----------------FOOTER------------------- */
.footer {
  background-color: var(--navy-blue-color);
}
.logo-menu-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-menu-footer span {
  color: var(--iris-color);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/* -----------------PORTFOLIO------------------- */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: #f4f4fd;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-images-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.portfolio-images-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
