/* -----------------MAIN-PROPERTIES------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
}
.list-none {
  list-style: none;
}

.link-none {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --navy-blue-color: #2e2f42;
  --slate-color: #434455;
  --iris-color: #4d5ae5;
  --hover-color: #404bbf;
}

/* -----------------INDEX-HEADER------------------- */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header > .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 24px;
  column-gap: 332px;
}
.header-nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 76px;
}
.header-list {
  display: inherit;
  flex-wrap: inherit;
  column-gap: 40px;
  /* padding-right: 332px; */
}

.header-contacts {
  display: flex;
  column-gap: 40px;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--navy-blue-color);
}

.header-logo span {
  color: var(--iris-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}

/* -----------------INDEX-HERO------------------- */
.hero > .container {
  padding: 188px 0;
  text-align: center;
}
.hero {
  background-color: var(--navy-blue-color); /* Почему уменьшается BG без заданой ширины */
}

.hero-title {
  width: 496px; /* 494px как в макете не работает */
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 13px 32px;
  margin-top: 48px;
  /* margin-bottom: 188px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
}

/* -----------------INDEX-OUR-FEATURES------------------- */

.our-features > .section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-features-suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.our-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
.our-features-items {
  width: 264px;
}
.our-features-text > .our-features-items {
  width: 264px;
}

.our-features-list {
  display: flex;
  gap: 24px;
}

/* -----------------INDEX-What-Are-We-Doing------------------- */
.what-we-do > .section {
  padding-bottom: 120px;
}
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: --navy-blue-color;
  text-align: center;
}

.what-we-do-list {
  display: flex;
  gap: 24px;
}
/* -----------------INDEX-OUR-TEAM------------------- */

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.our-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
/* -----------------INDEX-FOOTER------------------- */
.footer {
  background-color: var(--navy-blue-color);
}
.logo-menu-footer {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-menu-footer span {
  color: var(--iris-color);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/* -----------------PORTFOLIO------------------- */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  background-color: #f4f4fd;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-images-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.portfolio-images-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
